header {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 5vh;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
nav ul li {
    border-bottom: 2px solid lightgrey;
}
nav ul li a {
    color: black;
    text-decoration: none;
}